<!DOCTYPE html>
<html>
  <head>
    <title>Code For good Team 1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="./assets/css/custom.css" />
  </head>
  <style>
    body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 8s ease infinite;
    }
    .container {
      margin-top: 50px;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  </style>
  <body>
    <nav>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        class="m-4 text-white"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path d="M12 14l9-5-9-5-9 5 9 5z" />
        <path
          d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
        />
      </svg>
    </nav>
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center"
        >
          <form
            class="form-group"
            style="
              max-width: 420px;
              font-family: Helvetica;
              font-weight: 600;
              color: #484848;
            "
          >
            <h1
              class="mb-3 text-white"
              style="font-size: 2em; font-weight: bold"
            >
              Our Education providers need your help! please select your
              location and user type.
            </h1>
            <div class="form-group" style="font-size: small">
              <div class="form-group" style="font-size: small">
                <label class="text-white">USER TYPE</label><br />
                <select class="custom-select">
                  <option selected>Volunteer</option>
                  <option value="2">Education Provider</option>
                </select>
              </div>
              <label class="text-white">LOCATION</label><br />
              <select class="custom-select" id="location_selection">
                <option value="london">London</option>
                <option value="durham">Durham</option>
                <option value="Loughborough">Loughborough</option>
                <option value="netherlands">Netherlands</option>
                <option value="cambridge">Cambridge</option>
              </select>
            </div>

            <div class="form-group">
              <button
                id="search"
                type="button"
                class="btn btn-primary btn-lg"
                style="float: right"
              >
                Register
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg-6 col-md-12" id="maps">
          <iframe
            width="100%"
            height="400"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            id="gmap_canvas"
            src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20$london&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe>
        </div>
      </div>
    </div>

    <script src="/client/main.js"></script>
    <script>
      function initMap() {
        const u = { lat: -25.344, lng: 131.031 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: u,
        });
        const marker = new google.maps.Marker({
          position: uu,
          map: map,
        });
      }

      window.initMap = initMap;
      const select = document.getElementById("location_selection");
      const iframe = document.getElementById("gmap_canvas");

      select.addEventListener("change", () => {
        const selectedValue = select.value;
        console.log(selectedValue);
        const mapUrl = `https://maps.google.com/maps?width=520&height=400&hl=en&q=%20${selectedValue}()&t=&z=12&ie=UTF8&iwloc=B&output=embed`;
        iframe.src = mapUrl;
      });
    </script>
  </body>
</html>
